# Виртуальное окружение
venv/
.venv/

# База данных и её служебные файлы WAL
db.sqlite3
db.sqlite3-wal
db.sqlite3-shm

# Логи
logs/

# КЭШ PYTHON (Убирает папки __pycache__ и файлы .pyc навсегда)
__pycache__/
*.pyc
*.pyo
*.pyd
shopzone/__pycache__/
store/__pycache__/
store/migrations/__pycache__/

# НАШ СЕКРЕТНЫЙ ФАЙЛ (Указываем оба возможных варианта)
text_recoment
text_recoment.txt
