# Виртуальное окружение
venv/

.venv/

# База данных и её служебные файлы WAL
db.sqlite3
db.sqlite3-wal
db.sqlite3-shm

# Логи
logs/

# КЭШ PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd

shopzone/__pycache__/
store/__pycache__/
store/migrations/__pycache__/

# Django migrations
migrations/
*/migrations/

# Django файлы моделей и админки (если нужно полностью игнорировать)
admin.py
models.py

# Media файлы (загрузки пользователей)
media/

# НАШ СЕКРЕТНЫЙ ФАЙЛ
text_recoment
text_recoment.txt