<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ZoneShop{% endblock %}</title>
</head>
<body>

    <!-- ВЕРХНЯЯ ЧАСТЬ -->
    <header>
        <h1>ZoneShop</h1>
        <nav>
            <!-- Ссылки на ваши функции из views.py. Имена (name) должны совпадать с вашим urls.py -->
            <a href="{% url 'index' %}">Главная</a> | 
            <a href="{% url 'add_product' %}">Добавить товар</a> | 
            <a href="{% url 'about' %}">О нас</a>
        </nav>
    </header>
    
    <hr>

    <!-- ОСНОВНОЙ КОНТЕНТ -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>

    <!-- НИЖНЯЯ ЧАСТЬ (ФУТЕР) -->
    <footer>
        <!-- НИЖНЯЯ ЧАСТЬ (ФУТЕР) -->
        <footer>
            <h3>Контакты ZoneShop:</h3>
            {% if footer_contact_data %}
                <p>Телефон: {{ footer_contact_data.phone }}</p>
                <p>Email: {{ footer_contact_data.email }}</p>
                <p>Адрес: {{ footer_contact_data.address }}</p>
            {% else %}
                <p>Контакты еще не заполнены в админке.</p>
            {% endif %}
        </footer>
    
    </footer>

</body>
</html>
